{% extends 'layout.html' %}
{% block content %}
<form action="{% url 'category_user'%}" style="direction: rtl;">
    {%csrf_token%}
    <div style="display: flex; flex-wrap: wrap; justify-content: center;">
      {% for category in categories %}
        <div class="card" style="width: 18rem; margin: 20px;">
            <img src="{{category.imageUrl}}" height="300px" class="card-img-top">
            <div class="card-body">
            <div style="display: flex; flex-wrap: wrap; justify-content: center;">
                <a href="{% url 'dishes_user' id=category.id %}"  class="btn btn-secondary btn-lg" role="button">{{category.name}}</a>
            </div>
            </div>
        </div>
      {% endfor %}
      
      
  </div>
  </form>
{% endblock content %}
