{%extends 'menu_manager.html'%}
{% block content%}


<form action="{% url 'delivery_manage' %}" method="POST" style="direction: rtl; border: 100%; background-color: white;"  >
    <h1 style="display: flex; justify-content: center;">ניהול משלוחים</h1>
    <input type="submit" value="עידכון נתונים">
    <br/>
{%csrf_token%}
{%for item in order_list%}
    <label> מספר הזמנה: </label>
    {{ item.order.pk }}
    <br/>
    <label> מזמין: </label>
    {{ item.order.order.user.first_name }}
    <br/>
    <label> תאריך ההזמנה: </label>
    {{ item.order.created }}
    <br/>
    <label> תשלום: </label>
    {{ item.payment }}
    <br/>
    {% if item.order.is_delivered %}

    <input name="{{ item.order.pk }}" type="checkbox" checked/>
    {% else %}
    <input name="{{ item.order.pk }}" type="checkbox" />
    {% endif %}
    <label> נשלח בהצלחה? </label>
    <br/>
    <hr>
{%endfor%}
</form>
{%endblock content%}
